@media (max-width: 1199px) {
  .aside {
    left: -270px;

    .nav-toggler {
      display: flex;
      left: 30px;

      &.open {
        left: 300px;
      }
    }
    &.open {
      left: 0;
    }
  }

  .main-content {
    .section {
      left: 0;

      &.open {
        left: 270px;
      }

      .container {
        margin-bottom: 30px;
        padding-top: 70px;
      }
    }

    .about {
      .about-content {
        .personal-info {
          .info-item {
            p {
              span {
                display: block;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
